<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-4">
        <h5 style="color:#fff;margin-top:30px"><b>24HRS</b></h5>
      </div>
      <!-- <div class="col-8" style="text-align: right;width: 90%;margin-top: -40px;">
        <svg (click)="searchPage()" style="margin:10px;" width="20" height="20" viewBox="0 0 20 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.2998 12.5863H13.3974L13.0775 12.2779C14.3299 10.8187 14.9685 8.93097 14.8587 7.01111C14.749 5.09124 13.8996 3.28856 12.489 1.98152C11.0785 0.674474 9.21659 -0.0352438 7.29394 0.00134777C5.3713 0.0379394 3.53754 0.817948 2.17778 2.17771C0.818015 3.53748 0.0379393 5.37125 0.00134789 7.2939C-0.0352436 9.21655 0.674402 11.0786 1.98144 12.4891C3.28848 13.8996 5.09129 14.7489 7.01115 14.8586C8.93101 14.9683 10.8187 14.33 12.2779 13.0775L12.5864 13.3974V14.2998L18.298 20L20 18.298L14.2998 12.5863ZM7.44594 12.5863C6.42926 12.5863 5.43548 12.2849 4.59014 11.72C3.7448 11.1552 3.08585 10.3523 2.69678 9.41302C2.30772 8.47373 2.20589 7.44016 2.40423 6.44301C2.60258 5.44586 3.09231 4.52992 3.81121 3.81102C4.53011 3.09211 5.44592 2.60259 6.44306 2.40424C7.44021 2.20589 8.47391 2.30765 9.4132 2.69672C10.3525 3.08579 11.1553 3.74468 11.7201 4.59002C12.285 5.43536 12.5864 6.42921 12.5864 7.44589C12.5873 8.1212 12.4551 8.79006 12.197 9.41414C11.939 10.0382 11.5604 10.6052 11.0829 11.0827C10.6054 11.5602 10.0381 11.9389 9.41404 12.1969C8.78996 12.4549 8.12124 12.5872 7.44594 12.5863Z"
            fill="white" />
        </svg>
      </div> -->
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>
<div class="container">
  <div  class=" card mt-4">
    <div class="row">
      <div class="col-8">
        <img style="margin: 7px;" height="30px" width="30px" src="assets/storelogo.png" alt="">
        <span>Geekstack/ Onion</span>
      </div>
      <div class="col-4">
        <span class="dot ion-text-center"><span style="margin-top:15px;font-size: 14px;">40% off</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p style="font-size:10px;margin:10px;">Ginger adds flavor to foods and can relieve
         ......</p>
      </div>
      <div class="col-5">
        <p style="margin:5px;font-size: 10px;">
          <svg width="20" height="18" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.9116 3.42642V1.81135H20.5929V0.22644H15.5488V1.81135H17.2302V3.42642C14.4736 3.62501 12.0001 4.79208 10.1921 6.56606H3.66697V8.15044H8.86504C8.52445 8.65143 8.22897 9.18153 7.98298 9.73587H1.98559V11.3202H7.43614C7.30667 11.8354 7.21773 12.3647 7.1739 12.9057H0.304199V14.4906H7.17384C7.21773 15.0316 7.30662 15.5609 7.43608 16.0755H1.98559V17.6604H7.98298C8.22891 18.2147 8.52445 18.7448 8.86504 19.2453H3.66697V20.8302H10.1921C12.1821 22.7828 14.9784 24 18.0709 24C24.0971 24 28.9999 19.3786 28.9999 13.6981C28.9999 8.28426 24.5466 3.83242 18.9116 3.42642ZM27.2799 14.4906C26.8787 18.666 23.3412 22.0006 18.9116 22.3787V20.8302H17.2302V22.3787C12.8005 22.0006 9.26297 18.666 8.86184 14.4906H10.5046V12.9057H8.86184C9.26297 8.73025 12.8005 5.39566 17.2302 5.01756V6.56606H18.9116V5.01756C23.3412 5.39566 26.8787 8.73025 27.2799 12.9057H25.6371V14.4906H27.2799Z"
              fill="#5F5F5F" />
            <path
              d="M15.5488 13.6981C15.5488 15.009 16.6802 16.0755 18.0709 16.0755C19.0607 16.0755 19.9634 15.5259 20.3705 14.6754L23.1146 8.94385L17.0341 11.5305C16.1318 11.9144 15.5488 12.7652 15.5488 13.6981ZM17.7258 12.9751L19.7527 12.1128L18.838 14.0235C18.7021 14.3072 18.401 14.4906 18.0709 14.4906C17.6074 14.4906 17.2302 14.1351 17.2302 13.6981C17.2302 13.387 17.4248 13.1032 17.7258 12.9751Z"
              fill="#5F5F5F" />
          </svg>
          2.00.00
        </p>
      </div>
      <div class="col-7">
        <p style="margin:5px;font-size: 10px;" class="product-name">Date/Time: <span>Dec 14/ 2.00 pm</span></p>
      </div>
      
    </div>
  </div>

  <div  class=" card mt-4">
    <div class="row">
      <div class="col-8">
        <img style="margin: 7px;" height="30px" width="30px" src="assets/storelogo.png" alt="">
        <span>Geekstack/ Onion</span>
      </div>
      <div class="col-4">
        <span class="dot ion-text-center"><span style="margin-top:15px;font-size: 14px;">40% off</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p style="font-size:10px;margin:10px;">Ginger adds flavor to foods and can relieve
         ......</p>
      </div>
      <div class="col-5">
        <p style="margin:5px;font-size: 10px;">
          <svg width="20" height="18" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.9116 3.42642V1.81135H20.5929V0.22644H15.5488V1.81135H17.2302V3.42642C14.4736 3.62501 12.0001 4.79208 10.1921 6.56606H3.66697V8.15044H8.86504C8.52445 8.65143 8.22897 9.18153 7.98298 9.73587H1.98559V11.3202H7.43614C7.30667 11.8354 7.21773 12.3647 7.1739 12.9057H0.304199V14.4906H7.17384C7.21773 15.0316 7.30662 15.5609 7.43608 16.0755H1.98559V17.6604H7.98298C8.22891 18.2147 8.52445 18.7448 8.86504 19.2453H3.66697V20.8302H10.1921C12.1821 22.7828 14.9784 24 18.0709 24C24.0971 24 28.9999 19.3786 28.9999 13.6981C28.9999 8.28426 24.5466 3.83242 18.9116 3.42642ZM27.2799 14.4906C26.8787 18.666 23.3412 22.0006 18.9116 22.3787V20.8302H17.2302V22.3787C12.8005 22.0006 9.26297 18.666 8.86184 14.4906H10.5046V12.9057H8.86184C9.26297 8.73025 12.8005 5.39566 17.2302 5.01756V6.56606H18.9116V5.01756C23.3412 5.39566 26.8787 8.73025 27.2799 12.9057H25.6371V14.4906H27.2799Z"
              fill="#5F5F5F" />
            <path
              d="M15.5488 13.6981C15.5488 15.009 16.6802 16.0755 18.0709 16.0755C19.0607 16.0755 19.9634 15.5259 20.3705 14.6754L23.1146 8.94385L17.0341 11.5305C16.1318 11.9144 15.5488 12.7652 15.5488 13.6981ZM17.7258 12.9751L19.7527 12.1128L18.838 14.0235C18.7021 14.3072 18.401 14.4906 18.0709 14.4906C17.6074 14.4906 17.2302 14.1351 17.2302 13.6981C17.2302 13.387 17.4248 13.1032 17.7258 12.9751Z"
              fill="#5F5F5F" />
          </svg>
          2.00.00
        </p>
      </div>
      <div class="col-7">
        <p style="margin:5px;font-size: 10px;" class="product-name">Date/Time: <span>Dec 14/ 2.00 pm</span></p>
      </div>
      
    </div>
  </div>


  <div  class=" card mt-4">
    <div class="row">
      <div class="col-8">
        <img style="margin: 7px;" height="30px" width="30px" src="assets/storelogo.png" alt="">
        <span>Geekstack/ Onion</span>
      </div>
      <div class="col-4">
        <span class="dot ion-text-center"><span style="margin-top:15px;font-size: 14px;">40% off</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p style="font-size:10px;margin:10px;">Ginger adds flavor to foods and can relieve
         ......</p>
      </div>
      <div class="col-5">
        <p style="margin:5px;font-size: 10px;">
          <svg width="20" height="18" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.9116 3.42642V1.81135H20.5929V0.22644H15.5488V1.81135H17.2302V3.42642C14.4736 3.62501 12.0001 4.79208 10.1921 6.56606H3.66697V8.15044H8.86504C8.52445 8.65143 8.22897 9.18153 7.98298 9.73587H1.98559V11.3202H7.43614C7.30667 11.8354 7.21773 12.3647 7.1739 12.9057H0.304199V14.4906H7.17384C7.21773 15.0316 7.30662 15.5609 7.43608 16.0755H1.98559V17.6604H7.98298C8.22891 18.2147 8.52445 18.7448 8.86504 19.2453H3.66697V20.8302H10.1921C12.1821 22.7828 14.9784 24 18.0709 24C24.0971 24 28.9999 19.3786 28.9999 13.6981C28.9999 8.28426 24.5466 3.83242 18.9116 3.42642ZM27.2799 14.4906C26.8787 18.666 23.3412 22.0006 18.9116 22.3787V20.8302H17.2302V22.3787C12.8005 22.0006 9.26297 18.666 8.86184 14.4906H10.5046V12.9057H8.86184C9.26297 8.73025 12.8005 5.39566 17.2302 5.01756V6.56606H18.9116V5.01756C23.3412 5.39566 26.8787 8.73025 27.2799 12.9057H25.6371V14.4906H27.2799Z"
              fill="#5F5F5F" />
            <path
              d="M15.5488 13.6981C15.5488 15.009 16.6802 16.0755 18.0709 16.0755C19.0607 16.0755 19.9634 15.5259 20.3705 14.6754L23.1146 8.94385L17.0341 11.5305C16.1318 11.9144 15.5488 12.7652 15.5488 13.6981ZM17.7258 12.9751L19.7527 12.1128L18.838 14.0235C18.7021 14.3072 18.401 14.4906 18.0709 14.4906C17.6074 14.4906 17.2302 14.1351 17.2302 13.6981C17.2302 13.387 17.4248 13.1032 17.7258 12.9751Z"
              fill="#5F5F5F" />
          </svg>
          2.00.00
        </p>
      </div>
      <div class="col-7">
        <p style="margin:5px;font-size: 10px;" class="product-name">Date/Time: <span>Dec 14/ 2.00 pm</span></p>
      </div>
      
    </div>
  </div>


  <div  class="card mt-4">
    <div class="row">
      <div class="col-8">
        <img style="margin: 7px;" height="30px" width="30px" src="assets/storelogo.png" alt="">
        <span>Geekstack/ Onion</span>
      </div>
      <div class="col-4">
        <span class="dot ion-text-center"><span style="margin-top:15px;font-size: 14px;">40% off</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p style="font-size:10px;margin:10px;">Ginger adds flavor to foods and can relieve
         ......</p>
      </div>
      <div class="col-5">
        <p style="margin:5px;font-size: 10px;">
          <svg width="20" height="18" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.9116 3.42642V1.81135H20.5929V0.22644H15.5488V1.81135H17.2302V3.42642C14.4736 3.62501 12.0001 4.79208 10.1921 6.56606H3.66697V8.15044H8.86504C8.52445 8.65143 8.22897 9.18153 7.98298 9.73587H1.98559V11.3202H7.43614C7.30667 11.8354 7.21773 12.3647 7.1739 12.9057H0.304199V14.4906H7.17384C7.21773 15.0316 7.30662 15.5609 7.43608 16.0755H1.98559V17.6604H7.98298C8.22891 18.2147 8.52445 18.7448 8.86504 19.2453H3.66697V20.8302H10.1921C12.1821 22.7828 14.9784 24 18.0709 24C24.0971 24 28.9999 19.3786 28.9999 13.6981C28.9999 8.28426 24.5466 3.83242 18.9116 3.42642ZM27.2799 14.4906C26.8787 18.666 23.3412 22.0006 18.9116 22.3787V20.8302H17.2302V22.3787C12.8005 22.0006 9.26297 18.666 8.86184 14.4906H10.5046V12.9057H8.86184C9.26297 8.73025 12.8005 5.39566 17.2302 5.01756V6.56606H18.9116V5.01756C23.3412 5.39566 26.8787 8.73025 27.2799 12.9057H25.6371V14.4906H27.2799Z"
              fill="#5F5F5F" />
            <path
              d="M15.5488 13.6981C15.5488 15.009 16.6802 16.0755 18.0709 16.0755C19.0607 16.0755 19.9634 15.5259 20.3705 14.6754L23.1146 8.94385L17.0341 11.5305C16.1318 11.9144 15.5488 12.7652 15.5488 13.6981ZM17.7258 12.9751L19.7527 12.1128L18.838 14.0235C18.7021 14.3072 18.401 14.4906 18.0709 14.4906C17.6074 14.4906 17.2302 14.1351 17.2302 13.6981C17.2302 13.387 17.4248 13.1032 17.7258 12.9751Z"
              fill="#5F5F5F" />
          </svg>
          2.00.00
        </p>
      </div>
      <div class="col-7">
        <p style="margin:5px;font-size: 10px;" class="product-name">Date/Time: <span>Dec 14/ 2.00 pm</span></p>
      </div>
      
    </div>
  </div>
</div>
</ion-content>
