<ion-content class="bg-class">
  <div class="container">

    <div class="col-12 ion-text-center">
      <img id="logo" height="150px" width="150px" style="margin-top: 80px;" src="assets/logo.jpeg" alt="">
    </div>


    <div class="col-12 ion-text-center">
      <span class="welcome">OTP VERIFICATION</span> <br>
    </div>


    <div class="signin-div mt-5 p-2">
      <div class="input-field mb-5">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="call"></ion-icon> Enter Your Phone number
          </ion-label>
          <ion-input [(ngModel)]="phonenumber"></ion-input>
        </ion-item>
        <ion-button (click)="sendOtp()" class="btn btn-sm text-white" color="success" >Send OTP</ion-button>
        <p *ngIf="OTPSent" class="small text-center OTPmessage" ><i>OTP Sent To Your Mobile</i></p>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="call"></ion-icon> Enter Your OTP
          </ion-label>
          <ion-input [(ngModel)]="OneTimePassword" placeholder="- - - - - -"></ion-input>
        </ion-item>
        <ion-button class="btn btn-sm text-white" color="success" (click)="verifyOTP()">Verify OTP</ion-button>
      </div>
    </div>
  </div>
</ion-content>