

ion-label{
    font-size:12px  !important;
    color:#4c4c4d !important;;
}
ion-item{
    --background: transparent !important;
}
ion-input:focus{
    --border-bottom: 2px solid #23d5ab !important;
}



ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, darkturquoise
    // 0%, #d1f2e7
    // 100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }

  .welcome{
      font-size: 15px;
  }

  .OTPmessage{
      color: #23d5ab;
  }