
.submit-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%);
    border:1px solid #fff;
    margin:5px;
}
img{
    border-radius: 20px;
    height:100px;
    width: 125px;
}

ion-content {
    background-color:#F4F7FA !important;
    // background: linear-gradient(to bottom, #8cdbe2
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }