<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <div class="row">
      <div class="col-5">
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;" >
        <svg style="margin:5px;" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.2998 12.5863H13.3974L13.0775 12.2779C14.3299 10.8187 14.9685 8.93097 14.8587 7.01111C14.749 5.09124 13.8996 3.28856 12.489 1.98152C11.0785 0.674474 9.21659 -0.0352438 7.29394 0.00134777C5.3713 0.0379394 3.53754 0.817948 2.17778 2.17771C0.818015 3.53748 0.0379393 5.37125 0.00134789 7.2939C-0.0352436 9.21655 0.674402 11.0786 1.98144 12.4891C3.28848 13.8996 5.09129 14.7489 7.01115 14.8586C8.93101 14.9683 10.8187 14.33 12.2779 13.0775L12.5864 13.3974V14.2998L18.298 20L20 18.298L14.2998 12.5863ZM7.44594 12.5863C6.42926 12.5863 5.43548 12.2849 4.59014 11.72C3.7448 11.1552 3.08585 10.3523 2.69678 9.41302C2.30772 8.47373 2.20589 7.44016 2.40423 6.44301C2.60258 5.44586 3.09231 4.52992 3.81121 3.81102C4.53011 3.09211 5.44592 2.60259 6.44306 2.40424C7.44021 2.20589 8.47391 2.30765 9.4132 2.69672C10.3525 3.08579 11.1553 3.74468 11.7201 4.59002C12.285 5.43536 12.5864 6.42921 12.5864 7.44589C12.5873 8.1212 12.4551 8.79006 12.197 9.41414C11.939 10.0382 11.5604 10.6052 11.0829 11.0827C10.6054 11.5602 10.0381 11.9389 9.41404 12.1969C8.78996 12.4549 8.12124 12.5872 7.44594 12.5863Z" fill="white"/>
          </svg>
          <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z" fill="white"/>
            </svg>
          </div>     
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-class" [fullscreen]="true">
  <div class="container">
    <div class="signin-div mt-3 ">
      <div class="col-12 ion-text-left mx-2" style="margin-top: 20px;">
        <svg (click)="backToPrivious()" style="margin-top:-8px;cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#23d5ab" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </div>
      <div class="row">
        <div class="col-6 ">
          <h4 style="margin:10px; color:#5C5C5C"><b>Support</b></h4>
        </div>
        <div class="col-6">
          <h5 style="margin:10px; color:#23d5ab;text-align: right;"><b>FAQ</b></h5>
        </div>

      </div>

      <div class="col-12 ion-text-center">
        <img height="40%" width="40%" src="assets/customersupport.png" alt="">
          
      </div>

      <div class="row mt-2">
        <div class="col-6" >
          <p class="name" style="margin:0 12px;font-size: smaller;">Email us at           :</p>
        </div>
        <div class="col-6">
          <p style="font-size: 12px;color:#5C5C5C;margin-left: -40px;">support@24hours.com</p></div>
  
          <div class="col-6">
            <p  class="name" style="margin:0 12px;font-size: smaller;">Call us at              :</p>
          </div>
          <div class="col-6">
          <p style="font-size: 12px; color:#5C5C5C;margin-left: -40px;">+91 98765 43210</p>
        </div>
      </div>
      <hr style="width: 75%;margin-left:10%;color:#5C5C5C">
      <p style="color: red; font-size: smaller;padding:0 20px;"><b>Usually we respond in 60 minutes. </b></p>

        <div class="form-group" >
          <label style="margin-left: 5px;" for="exampleFormControlTextarea1">Problem Description  :</label>
          <textarea maxlength="100" style="background-color: #fff;" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="problemDescription" placeholder="Enter Your Description"></textarea>
        </div>

        <div style="width:100%; text-align: center;">
          <button type="button" (click)="submit()" class="btn btn-primary  submit-btn mt-2">Submit</button>
         </div>
    </div>
    </div>


</ion-content>
