

<ion-content class="bg-class" >
  <div class="container" >
    <div class="row title">
      <div class="col-12 ion-text-center">
        <img id="logo" height="125px" width="125px" src="assets/logo.jpeg" alt="">
      </div>
       
          
      <div class="col-12 ion-text-center">
        <span class="welcome">Welcome to</span> <br>
        <span class="seller"><b>24hrs Seller</b></span>
      </div>
    </div>
  
    <div class="signin-div mt-4 ">
      <div class="row "style="padding:15px;">
        <div class="col-6 signin">
          Sign in
        </div>
        <div style="cursor: pointer;" (click)="signupPage()" class="col-6 signup">
          Sign up
        </div>
      </div>
      <p class="signin-seller"><b>Sign in to  24hrs Seller</b></p>
      <p class="emailTo-continue">Enter email & password to continue</p>
  
      <div class="input-field" >
        <ion-item>
          <ion-label position="floating">  <ion-icon name="mail"></ion-icon> EMAIL</ion-label>
          <ion-input [(ngModel)]="signinemailid" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2-fill" viewBox="0 0 16 16">
            <path d="M7 6a1 1 0 0 1 2 0v1H7V6z"/>
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z"/>
          </svg> PASSWORD</ion-label>
          <ion-input type="password" [(ngModel)]="signinpassword"> </ion-input>
        </ion-item>   
      </div>
  
      <div class="row">
        <div class="col-8 forgot-pw">
          Forgot password?
        </div>
        <div class="col-2">
          <button  (click)="signin()" class="btn btn-success btn-sm signin-btn mt-1">SIGNIN</button>
        </div>
      </div>
  
    </div>
  </div>
  </ion-content>
  