ion-searchbar{
    margin-top: 10px !important;
    --background: #fff !important;
    width: 98% !important;
}

.input{
    margin-top: 4px !important;
    height:40px;
    border-radius: 5px;
    width: 95% !important;
}
.input:focus{
    outline: none;
}
ion-content {
    background-color:#F4F7FA  !important;
    // background: linear-gradient(to bottom, darkturquoise
    // 0%, #d1f2e7
    // 100%) !important;
  
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }