<ion-content>
  <div class="top-container">
    <div class="row">
      <div class="col-6 mt-1">
        <ion-buttons slot="start">
          <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="col-6 ion-text-center mt-1">
        <button type="button" (click)="support()" class="btn btn-primary btn-sm  support-btn ">Support </button>
      </div>
    </div>

    <div class="row ">
      <div class="col-6">
        <img class="profile" src="assets/sparrow.JPG" alt="">
      </div>
    </div>
  </div>
  <div style="width:100%;text-align: center;">
    <div class="myproduct-div mt-1 ">

      <!-- <div class="row">
        <div class="col-8">
          <h4 style="text-align: left;margin:6%;margin-top:7%; color: #5C5C5C;"> <b>My Profile</b></h4>
        </div>
        <div class="col-4">
          <button type="button" (click)="support()" class="btn btn-primary  support-btn ">Support </button>
        </div>
      </div> -->

      <div class="row mt-3">
        <div class="col-4 ion-text-center">

        </div>
        <div class="col-12 ion-text-right" style="margin-top: -10px;">
          <svg (click)="popupModelOpen()" style="margin: 5px;" xmlns="http://www.w3.org/2000/svg" width="22" height="18"
            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </div>
      </div>


      <div class="row mt-4" style="padding: 10px;">
        <div class="col-6">
          <p class="name">Store name:</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.storename">
        </div>

        <div class="col-6">
          <p class="name">Username :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled value="Dhya">
        </div>

        <div class="col-6">
          <p class="name">Email:</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.email">
        </div>

        <div class="col-6">
          <p class="name">Store number :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.mobile">
        </div>

        <div class="col-6">
          <p class="name">Mobile number :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled [value]="userdetails.mobile">
        </div>

        <div class="col-6">
          <p class="name">Store location :</p>
        </div>
        <div class="col-6">
          <input type="text" id="edit-field" disabled value="coimbatore">
        </div>



        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="name mt-2">Id Proof:</p>
          </div>
          <div class="col-3">
            <img
              src="https://media.istockphoto.com/vectors/format-file-isolated-on-white-background-vector-id1226002079?b=1&k=20&m=1226002079&s=170667a&w=0&h=QyCTGPkTl8uZDjpFH8TJMYigtx2JmJW9EFCB-xFJ044="
              alt="">
          </div>
          <div class="col-3 ion-text-right">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_uywti8w5.json" background="transparent"
              speed="1.5" style="width:80%;margin-left:25px;" autoplay></lottie-player>
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-6">
            <p class="name mt-2">Address Proof:</p>
          </div>
          <div class="col-3">
            <img
              src="https://media.istockphoto.com/vectors/format-file-isolated-on-white-background-vector-id1226002079?b=1&k=20&m=1226002079&s=170667a&w=0&h=QyCTGPkTl8uZDjpFH8TJMYigtx2JmJW9EFCB-xFJ044="
              alt="">
          </div>
          <div class="col-3 ion-text-right">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_slGFhN.json" background="transparent"
              speed="1.5" style="width:80%;margin-left:25px;" autoplay></lottie-player>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="myproduct-div mt-1">
    <div class="row ion-text-center mt-1">
      <div class="col-9 mt-1">
        <p style="font-size: 20px;">
          <svg style="padding: 2px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
            class="bi bi-truck" viewBox="0 0 16 16">
            <path
              d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
          </svg>
          Delivery Avilability:
        </p>
      </div>
      <div class="col-3 mt-1 ">
        <ion-toggle  color="primary"></ion-toggle>
      </div>
    </div>
  </div>


  <div class="myproduct-div mt-1 mb-3">
    <p style="font-size:16px;margin-left:10px;margin-top:10px; color: #5C5C5C;">Select how customers can reach you :
      Edit
      <svg (click)="contactEdit()" id="edit" style="margin: 5px;" width="20" height="15" viewBox="0 0 20 17" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 13.6571V16.5278C0 16.7923 0.244411 17 0.555478 17H3.93279C4.07721 17 4.22164 16.9528 4.32162 16.8584L16.4533 6.55589L12.2872 3.01472L0.166644 13.3172C0.0555479 13.4116 0 13.5249 0 13.6571ZM19.675 3.81739C20.1083 3.4491 20.1083 2.85419 19.675 2.4859L17.0754 0.276212C16.6421 -0.0920705 15.9422 -0.0920705 15.509 0.276212L13.4759 2.0043L17.642 5.54548L19.675 3.81739Z"
          fill="black" />
      </svg>
    </p>
    <div class="row">
      <div class="col-2 ion">
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_5zopqcem.json" background="transparent"
          speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px; color:#5C5C5C;">98765 47670</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" checked color="primary"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_wN134d.json" background="transparent"
          speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px;color:#5C5C5C;"> abcstore</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" color="primary"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <lottie-player src="https://assets7.lottiefiles.com/datafiles/0t1ESTur6hOdome/data.json"
          background="transparent" speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px;color:#5C5C5C;">9876543210</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" checked color="primary"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_e9pt4vym.json" background="transparent"
          speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px;color:#5C5C5C;"> www.abc.com</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" checked color="primary"></ion-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_xtuje6sh.json" background="transparent"
          speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px;color:#5C5C5C;">Geekstack</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" checked color="primary"></ion-toggle>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-2">
        <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_hazkrlss.json" background="transparent"
          speed="1.5" style="width:100%; margin-left:15px" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <p style="margin-top:12px;margin-left:20%;font-size: 15px;color:#5C5C5C;"> Geekstack123</p>
      </div>
      <div class="col-2 ">
        <ion-toggle style="margin-left:-25px" checked color="primary"></ion-toggle>
      </div>
    </div>


  </div>

  <div class="card" *ngIf="PopupModel" style="margin-top: 20px;" id="card">
    <div class="row" id="modal">
      <div class="hidden">
        <div class="col-12 ion-text-left " style="margin-top: 20px;">
          <svg (click)="backToprivious()" style="margin-top:-8px;cursor:pointer" xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="#23d5ab" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
        </div>
        <h5 style="text-align: center; color: #5C5C5C;margin-top: -20px;"> <b>Edit Here:</b></h5>


        <div *ngIf="userDetailstVisible">
          <div class="row" style="padding-left: 10px;">
            <div class="col-12 ion-text-center">
              <img class="editprofile" src="assets/sparrow.JPG" alt="">
            </div>
            <div class="col-6">
              <p class="edit-name">Mobile number :</p>
            </div>
            <div class="col-6">
              <input type="text" id="edit-field" [value]="userdetails.mobile">
            </div>
          </div>

          <div class="row" style="padding-left: 10px;">
            <div class="col-6">
              <p class="edit-name">Email:</p>
            </div>
            <div class="col-6">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>

          <div class="row" style="padding-left: 10px;">
            <div class="col-6">
              <p class="edit-name">Password:</p>
            </div>
            <div class="col-6">
              <input type="text" id="edit-field" [value]="userdetails.username">
            </div>
          </div>

          <div class="row" style="padding-left: 10px;">
            <div class="col-6">
              <p class="edit-name">Store Location :</p>
            </div>
            <div class="col-6">
              <input type="text" id="edit-field" value="Peelamedu">

              <!-- <svg style="margin-left: -5px;margin-top:5px" width="30" height="36" viewBox="0 0 22 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_1176:710)">
                  <path
                    d="M17 6C17 4.4087 16.3679 2.88254 15.2426 1.75732C14.1174 0.632106 12.5913 0 11 0C9.4087 0 7.88258 0.632106 6.75736 1.75732C5.63214 2.88254 5 4.4087 5 6C5 10.5 11 17 11 17C11 17 17 10.5 17 6ZM9 6C9 5.60444 9.1173 5.21781 9.33706 4.88892C9.55682 4.56002 9.86918 4.3036 10.2346 4.15222C10.6001 4.00085 11.0022 3.96128 11.3902 4.03845C11.7781 4.11562 12.1345 4.30611 12.4142 4.58582C12.6939 4.86552 12.8844 5.2219 12.9616 5.60986C13.0387 5.99783 12.9991 6.39993 12.8478 6.76538C12.6964 7.13083 12.44 7.4432 12.1111 7.66296C11.7822 7.88273 11.3956 8 11 8C10.4701 7.99842 9.96227 7.78721 9.58754 7.41248C9.21281 7.03775 9.00158 6.52995 9 6ZM4 18V20H18V18H4Z"
                    fill="white" />
                  <path
                    d="M11 16.2471C10.8514 16.0761 10.6636 15.8562 10.4477 15.5953C9.89187 14.9237 9.15161 13.9828 8.41236 12.9047C7.67214 11.8252 6.93926 10.6173 6.39298 9.41093C5.84386 8.19829 5.5 7.02331 5.5 6C5.5 4.54131 6.07946 3.14233 7.11091 2.11088C8.14236 1.07943 9.5413 0.5 11 0.5C12.4587 0.5 13.8576 1.07943 14.8891 2.11088C15.9205 3.14233 16.5 4.54131 16.5 6C16.5 7.02331 16.1561 8.19829 15.607 9.41093C15.0607 10.6173 14.3279 11.8252 13.5876 12.9047C12.8484 13.9828 12.1081 14.9237 11.5523 15.5953C11.3364 15.8562 11.1486 16.0761 11 16.2471ZM8.5 6L8.5 6.00149C8.50198 6.66353 8.76585 7.29789 9.23398 7.76603C9.70212 8.23417 10.3365 8.49802 10.9985 8.5H11C11.4944 8.5 11.9778 8.35341 12.3889 8.0787C12.8001 7.80399 13.1205 7.41353 13.3097 6.95672C13.4989 6.49991 13.5484 5.99727 13.452 5.51232C13.3555 5.02737 13.1174 4.5819 12.7678 4.23226C12.4181 3.88263 11.9727 3.64452 11.4877 3.54806C11.0028 3.4516 10.5001 3.50105 10.0433 3.69028C9.58643 3.87952 9.196 4.20005 8.92132 4.61113C8.64663 5.02224 8.5 5.50553 8.5 6ZM17.5 19.5H4.5V18.5H17.5V19.5Z"
                    stroke="black" />
                </g>
                <defs>
                  <filter id="filter0_d_1176:710" x="0" y="0" width="22" height="28" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1176:710" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1176:710" result="shape" />
                  </filter>
                </defs>
              </svg> -->

            </div>
          </div>

          <div style="width: 100%; text-align: center;">
            <button type="button" (click)="updateProfile()" class="btn btn-success btn-sm update-btn">Update</button>
          </div>
        </div>

        <div *ngIf="contactVisible">
          
          <div class="row" id="social-icon">
            <div class="col-5">
              <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_5zopqcem.json" background="transparent"
                speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
      
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
            
          </div>
      
          <div class="row" id="social-icon" >
            <div class="col-5">
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_wN134d.json" background="transparent"
                speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>
      
          <div class="row" id="social-icon">
            <div class="col-5">
              <lottie-player src="https://assets7.lottiefiles.com/datafiles/0t1ESTur6hOdome/data.json"
                background="transparent" speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>
      
          <div class="row" id="social-icon">
            <div class="col-5">
              <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_e9pt4vym.json" background="transparent"
                speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>
      
          <div class="row" id="social-icon">
            <div class="col-5">
              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_xtuje6sh.json" background="transparent"
                speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>
      
          <div class="row" id="social-icon">
            <div class="col-5">
              <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_hazkrlss.json" background="transparent"
                speed="1.5" style="width:30%; margin-left:25px" autoplay></lottie-player>
            </div>
            <div class="col-7">
              <input type="text" id="edit-field" [value]="userdetails.email">
            </div>
          </div>
      
          

          <div style="width: 100%; text-align: center;">
            <button type="button" (click)="updateProfile()" class="btn btn-success btn-sm update-btn">Update</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>