<ion-content class="mt-2">
  <div class="myproduct-div mt-5 ">

    <div class="row">
      <div class="col-7">
        <ion-icon (click)="navigateHome()" style="margin:20px;cursor:pointer;color:#23d5ab" name="close"></ion-icon>

      </div>

      <div class="col-5 ion-text-center">
        <span class="seller"><b>24hrs</b></span>
        <!-- <img id="logo" height="100px" width="120px" src="assets/logo.jpeg" alt=""> -->
      </div>

    </div>
    <p style="font-size:20px;margin-left:25px;color: #5C5C5C;"> Provide Your Contact Details :</p>

    <div class="row" >
      <div class="col-4 ion-text-center">
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_5zopqcem.json" background="transparent"
        speed="1.5" style="width:50%;margin-left:15px;" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <input type="text" id="edit-field" placeholder="Mobile number" [(ngModel)]="mobilenumber" >
      </div>
    </div>

    <div class="row" >
      <div class="col-4 ion-text-center">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_bonw2hvu.json" background="transparent"
        speed="1.5" style="width:70%;margin-left:5px;" autoplay></lottie-player>
      </div>
      <div class="col-8">
        <input type="text" id="edit-field" placeholder="Website link" [(ngModel)]="website">
      </div>
    </div>
   

      <div class="row">
        <div class="col-4">
          <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_f5ytlpiy.json" background="transparent"
          speed="1.5" style="width:90%;"  autoplay></lottie-player>
        </div>
        <div class="col-8">
          <input type="text" id="edit-field"  placeholder="Instagram id" [(ngModel)]="instagram">
        </div>
      </div>

      <div class="row ion-text-center" >
        <div class="col-4">
          <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_vfaddvqs.json" background="transparent"
          speed="1.5" style="width:60%;margin-left: 10px;"  autoplay></lottie-player>
        </div>
        <div class="col-8">
          <input type="text" id="edit-field"  placeholder="Whatsapp number" [(ngModel)]="whatsapp">
        </div>
      </div>
      
      <div class="row" >
        <div class="col-4">
          <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_cwyafad8.json" background="transparent"
          speed="1.5" style="width:90%;"  autoplay></lottie-player>
        </div>
        <div class="col-8">
          <input type="text" id="edit-field" placeholder="youtube link" [(ngModel)]="youtube">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_pb3we3yk.json" background="transparent"
          speed="1.5" style="width:90%;" autoplay></lottie-player>
        </div>
        <div class="col-8">
          <input type="text" id="edit-field"  placeholder="Facebook id" [(ngModel)]="facebook">
        </div>
      </div>
      <div class="row ">
        <div class="col-7">
         <button (click)="navigateHome()" type="button" class="btn btn-success btn-sm skip-btn">Skip</button>
        </div>
        <div class="col-5">
         <button (click)="sellerContact()" type="button" class="btn btn-success btn-sm update-btn">Next</button>
       </div>
     </div>
    </div>   
</ion-content>