.myproduct-div{
    position: absolute;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    width:96% !important;
    margin:5px;
    
  }
  input[type=text] {
    font-size: 15px;
    margin: 0 5px;
    margin-top: 25px !important;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #23d5ab;;
  }
  input:focus {
    outline: none !important;
    // border:1px solid #23d5ab !important;
    // box-shadow: 0 0 2px #23d5ab;
    border-bottom: 2px solid blue;;
  }
  .update-btn{
    border-radius: 5px !important;
    background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%) !important;
    color:#fff;
    height:25px;
    width:55%;
    text-align: center;
    border:1px solid #fff;
    font-size: 12px !important;
    padding: 3px;
    margin:5px !important;
    margin-left: 35px !important ;
}
.skip-btn{
  border-radius: 5px !important;
  background-color: #fff;
  color:#23d5ab;
  height:25px;
  width:25%;
  text-align: center;
  border:1px solid #fff;
  font-size: 13px !important;
  padding: 3px;
  margin:5px !important;
}
lottie-player{
    cursor: pointer;
}

select{
  border: 1px solid #fff;
 
}
.row{
    margin-bottom: 10px !important;
}
ion-content {
  --background:#F4F7FA  !important;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}