<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5">
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;">
        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="signin-div mb-2" style="margin-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-12 ion-text-left " style="margin-top: 20px;">

            <svg (click)="backAddoffer()" style="margin-top:-8px;cursor:pointer;margin:5px;"
              xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="#23d5ab" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
          </div>
          <div class="col-12">
            <h5 class="name  ion-text-center" style="color:#676767;"><b>Edit Your Offer</b></h5>
            <p class="name mt-3 ion-text-left" style="color:#404040;">Category :</p>
          </div>
          <div class="col-12">
            <div class="select" id="kg-dropdwon">
              <select [(ngModel)]="Category">
                <option *ngFor="let category of categoryList" value="{{Category}}">{{category.category}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <p class="name mt-3 ion-text-left" style="color:#404040;">Sub Category :</p>
          </div>
          <div class="col-12">
            <div class="select" id="kg-dropdwon">
              <select [(ngModel)]="subcategory">
                <option *ngFor="let category of subcategoryList" value="{{subcategory}}">{{category.subsubcategory}}
                </option>
              </select>
            </div>
          </div>
          
        </div>

    
          <div class="col-12 ion-text-left">
            <p class="name mt-2" style="color:#404040;">Product:</p>
          </div>
          <div class="col-12">
            <div class="select" id="kg-dropdwon">
              <select [(ngModel)]="productName">
                <option  *ngFor="let product of productList" value="{{productName}}">{{product.product_name}}
                </option>
              </select>
            </div>
          </div>
        

        <div class="row mt-4">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#404040;">Offer:</p>
          </div>
          <div class="col-6">
            <input [(ngModel)]="offer" type="text" placeholder="10%" id="offer">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#404040;">Other Offer:</p>
          </div>
          <div class="col-6">
            <input [(ngModel)]="otheroffer" type="text" placeholder="10%" id="offer">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#404040;">Total Cost :</p>
          </div>
          <div class="col-6">
            <input [(ngModel)]="totalCost" type="text" placeholder="130" id="offer">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#404040;">Offer Price :</p>
          </div>
          <div class="col-6">
            <input [(ngModel)]="offerPrice" type="text" placeholder="117" id="offer">
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="edit-name ion-text-left" style="color:#404040;">Offer Time :</p>
          </div>
          <div class="col-6">
            <input [(ngModel)]="offerTime" type="text" placeholder="2:00:00" id="offer">
          </div>
        </div>

        <div class="form-group mt-3 ion-text-center">
          <label for="exampleFormControlTextarea1" style="color:#404040;"> Description </label>
          <textarea style="background-color: #fff;margin-top: 5px;" class="form-control" [(ngModel)]="description"
            description id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="row">
          <div class="col-6 ion-text-center">
            <button (click)="offerDelete()" class="btn btn-sm delete-btn mt-2" >Delete</button>
          </div>
          <div class="col-6 ion-text-center">
            <button class="btn btn-sm update-btn mt-2" (click)="addoffer() ">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>