<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5">
        <!-- <img  id="logo"  src="assets/logo.jpeg" alt=""> -->
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;" (click)="NavigatetoNotification()">

        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-class" [fullscreen]="true">
  <div class="container">
    <div class="signin-div mt-3 ">
      <h5 style="text-align: center; color:#676767"><b>Welcome back to {{userdetails.storename}} store!</b></h5>
      <div class="row">
        <div (click)="offers()" style="cursor: pointer;" class="col-6 ">
          <span class="dot">
            <p class="count"><b>{{offerCount}}</b></p>
          </span>
          <p class="views">offers</p>
        </div>
        <div (click)="views()" style="cursor: pointer;" class="col-6">
          <span class="dot">
            <p class="count"><b>47</b></p>
          </span>
          <p class="views"> views</p>
        </div>
      </div>
    </div>



    <div class="signin-div mt-1 ">
      <h5 style="margin: 20px;color: #5C5C5C;"> <b>My Products:</b></h5>


      <!-- <div id="map_canvas"></div> -->

      <div class="container mt-4">
        <ion-chip *ngFor="let list of listOfCat" style="color: #122112;background-color: #fffcfa;">
          <ion-label>{{list.category}} <span style="color:#122112">({{list.status}})</span></ion-label>
        </ion-chip>
      </div>

      <div class="col-12 mt-2" style="text-align: center;">
        <button (click)="myproducts()" class="btn btn-success btn-sm  myproducts-btn mt-1">
          <svg width="31" height="20" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M29.7606 2.81348C29.5818 2.63049 29.3427 2.53248 29.0851 2.53831C28.8215 2.54381 28.5672 2.66225 28.4026 2.84696L24.6701 6.51102L22.726 1.63676C22.654 1.38425 22.4787 1.17397 22.2446 1.05981C22.0168 0.948576 21.7476 0.936732 21.5049 1.02702C21.0182 1.21259 20.7521 1.75297 20.899 2.25731L21.0043 2.61386L18.521 6.0975L15.9089 2.20392C15.789 1.98282 15.5814 1.82095 15.3391 1.76001C15.1032 1.70079 14.8478 1.74096 14.6364 1.87536C14.2216 2.14727 14.0914 2.70568 14.3398 3.14667L17.3772 8.53553C16.7616 8.81525 16.1352 9.42149 15.9446 10.704C15.9328 10.7386 15.922 10.7739 15.922 10.8123C15.922 10.8207 15.9264 10.8278 15.927 10.836C15.9266 10.8387 15.9264 10.8416 15.9261 10.8443C15.0874 10.2682 14.0894 9.95228 13.0456 9.95228C12.1077 9.95228 11.1947 10.2118 10.4076 10.6861V10.4576C10.4076 9.69359 10.1014 8.97691 9.54551 8.43944C8.98641 7.89906 8.24531 7.60158 7.4588 7.60158C5.92516 7.60158 4.66154 8.73839 4.51959 10.1863C4.15773 9.96063 3.71796 9.85591 3.27047 9.92207L2.64467 10.016C2.16432 10.0855 1.74109 10.3313 1.45338 10.7079C1.16567 11.0844 1.04718 11.5468 1.11955 12.0103L1.66624 15.5082H1.33276C1.13196 15.5082 0.969482 15.6656 0.969482 15.8598V20.1337V24.4075V28.6815C0.969482 28.8757 1.13196 29.0331 1.33276 29.0331H25.2005C25.4013 29.0331 25.5638 28.8757 25.5638 28.6815V24.4075V20.1337V15.8598C25.5638 15.6656 25.4013 15.5082 25.2005 15.5082H25.1925C25.2886 15.2425 25.3815 14.9809 25.4655 14.7313L25.4662 14.7292C25.7596 13.8736 25.9739 13.1665 26.0853 12.6842C26.1542 12.3878 26.2007 12.1032 26.2249 11.8379L26.2254 11.8366C26.3644 10.3934 25.8348 9.60561 25.2467 9.1775L29.7656 4.18006C30.12 3.78628 30.1189 3.18667 29.7606 2.81348ZM1.69604 20.4853H24.8372V24.056H1.69604V20.4853ZM24.8372 16.2113V19.7822H1.69604V16.2113H2.0884H5.35506H8.30313H8.53728H16.6787H20.259H24.679H24.8372ZM6.28383 12.3353C6.5726 12.2932 6.8589 12.3622 7.09339 12.5289C7.32789 12.6957 7.48079 12.941 7.52372 13.2198L7.8807 15.5082H5.66787L5.36073 13.5352C5.3257 13.3041 5.36956 13.0718 5.48694 12.8635C5.64907 12.5828 5.92871 12.3924 6.2558 12.3383C6.26538 12.3377 6.2746 12.3366 6.28383 12.3353ZM20.0027 14.638C20.0004 14.6611 19.9983 14.686 19.996 14.7093C19.9739 14.933 19.9528 15.1662 19.9324 15.4054C19.9294 15.4407 19.926 15.4725 19.923 15.5082H16.9934C16.9881 15.4726 16.9827 15.4372 16.9774 15.4014C16.9459 15.1866 16.9153 14.9693 16.8864 14.7502C16.8832 14.726 16.8797 14.7021 16.8765 14.6778C16.8442 14.4301 16.8141 14.1814 16.7858 13.9339C16.7831 13.9109 16.7807 13.8881 16.7781 13.8651H20.0873C20.0838 13.894 20.0807 13.9272 20.0773 13.9565C20.0516 14.1751 20.0265 14.4002 20.0027 14.638ZM20.5421 11.1893C20.5165 11.2794 20.4935 11.3726 20.4701 11.4704C20.4478 11.5661 20.4253 11.6732 20.4028 11.7865C20.4001 11.7995 20.3976 11.8117 20.3949 11.825C20.3732 11.9359 20.3513 12.0554 20.3294 12.1815C20.3261 12.2004 20.3228 12.2195 20.3195 12.2388C20.2977 12.3666 20.2757 12.5006 20.2539 12.6422C20.2512 12.6601 20.2484 12.6788 20.2457 12.6969C20.2231 12.8457 20.2005 12.9997 20.1781 13.162H16.7048C16.7004 13.1153 16.6955 13.0671 16.6913 13.0213C16.6852 12.9527 16.6793 12.8851 16.6738 12.8187C16.6653 12.717 16.6579 12.6192 16.6511 12.5232C16.6467 12.4608 16.642 12.3978 16.6383 12.338C16.632 12.2378 16.6274 12.144 16.6231 12.0519C16.621 12.0061 16.6182 11.9574 16.6166 11.9138C16.6118 11.7819 16.6088 11.658 16.6088 11.5475C16.6088 11.4169 16.6134 11.2885 16.6223 11.1638H20.5403C20.541 11.1723 20.5414 11.1807 20.5421 11.1893ZM25.3764 12.5306C25.2831 12.934 25.1121 13.5097 24.8783 14.2077L23.5919 13.9296L20.8863 13.3447C20.8868 13.3409 20.8874 13.3369 20.8879 13.333C20.9101 13.1698 20.9326 13.0131 20.9552 12.8625C20.958 12.8435 20.9609 12.8246 20.9637 12.8059C20.9857 12.6613 21.0078 12.5233 21.0298 12.3931C21.0329 12.3751 21.0359 12.3578 21.0389 12.3401C21.0612 12.2104 21.0834 12.0876 21.1053 11.975C21.1072 11.9648 21.1092 11.9555 21.1112 11.9453C21.134 11.8292 21.1566 11.7214 21.1785 11.6268C21.2034 11.5221 21.2282 11.4217 21.2605 11.3146C21.2733 11.2663 21.2867 11.2191 21.3009 11.1731L25.4641 12.0776C25.4417 12.2233 25.4123 12.3747 25.3764 12.5306ZM22.7847 8.64102C22.1943 8.76002 21.5388 9.11192 21.0403 9.96693C20.7598 9.17825 20.2709 8.75914 19.79 8.53999L21.7346 5.08621L22.7847 8.64102ZM15.039 2.46055C15.0855 2.43103 15.1284 2.43343 15.1564 2.44047C15.2015 2.4518 15.2402 2.48373 15.2824 2.55857L18.207 6.92077C18.273 7.01914 18.3855 7.07922 18.5065 7.08093C18.6239 7.0775 18.742 7.02583 18.8108 6.92901L21.2626 3.48965L21.3013 3.61934L21.45 4.12262L19.0787 8.33405C19.0662 8.33218 19.0522 8.33295 19.0395 8.33123C18.8928 8.31109 18.7419 8.29901 18.588 8.29879C18.585 8.29879 18.5822 8.29817 18.5792 8.29817C18.5588 8.29817 18.5395 8.30203 18.5192 8.30237C18.3933 8.30463 18.2677 8.31291 18.1427 8.32883C18.1255 8.33102 18.1074 8.33005 18.0903 8.3325L14.9776 2.80988C14.9088 2.68748 14.939 2.52613 15.039 2.46055ZM17.985 9.06823C18.2763 8.99884 18.5992 8.98322 18.8934 9.01858C18.9919 9.03047 19.0875 9.04806 19.178 9.07132C19.8311 9.2344 20.2444 9.69033 20.4342 10.4607H16.7284C16.9185 9.68758 17.3329 9.23028 17.985 9.06823ZM15.8833 11.7022C15.8834 11.7088 15.884 11.7172 15.8841 11.7238C15.8859 11.8246 15.8896 11.934 15.8948 12.0502C15.8959 12.0739 15.8969 12.0976 15.8981 12.1219C15.9038 12.2392 15.9111 12.3627 15.92 12.4928C15.9218 12.5205 15.9239 12.5488 15.926 12.5771C15.9356 12.7116 15.9465 12.8508 15.9592 12.9962C15.9611 13.0184 15.9633 13.0413 15.9653 13.0638C15.9791 13.2178 15.9942 13.3759 16.0112 13.5393C16.0115 13.5427 16.0118 13.5457 16.0121 13.5491C16.0427 13.841 16.0776 14.1374 16.1142 14.4339C16.121 14.4885 16.1274 14.5422 16.1344 14.5968C16.171 14.8848 16.2098 15.1709 16.2508 15.4531C16.2535 15.4712 16.2557 15.4901 16.2583 15.5082H8.83922C8.83049 15.46 8.81896 15.413 8.812 15.3641C8.8061 15.3228 8.79989 15.2816 8.79528 15.2399C8.77896 15.0924 8.76787 14.9431 8.76787 14.7914C8.76787 14.6392 8.77648 14.4882 8.79342 14.3388C8.91195 13.293 9.43864 12.3278 10.2799 11.6399C11.0501 11.0051 12.0324 10.6554 13.0456 10.6554C14.0985 10.6554 15.1004 11.026 15.8833 11.7022ZM5.23195 10.4576C5.23195 9.27045 6.23097 8.30469 7.4588 8.30469C8.05161 8.30469 8.61 8.52922 9.03182 8.93691C9.45044 9.34151 9.68103 9.88156 9.68103 10.4576V11.2128C9.64582 11.2436 9.61686 11.2794 9.58267 11.3111C9.48485 11.4018 9.39075 11.495 9.30153 11.5923C9.2515 11.6468 9.20281 11.7017 9.15563 11.7581C9.07022 11.8601 8.99075 11.9657 8.91461 12.0736C8.87616 12.1281 8.8359 12.1811 8.7998 12.237C8.70845 12.3786 8.6257 12.5247 8.55014 12.6744C8.53754 12.6993 8.52193 12.7227 8.50983 12.7478C8.42499 12.9236 8.35293 13.1049 8.29054 13.2897C8.28628 13.3024 8.27963 13.3141 8.27551 13.3268L8.24247 13.1151C8.17045 12.6504 7.91502 12.241 7.52372 11.9624C7.43561 11.8997 7.34217 11.8474 7.24599 11.8016C7.21419 11.7864 7.18106 11.7753 7.14851 11.762C7.08169 11.7348 7.01433 11.7102 6.94493 11.691C6.90714 11.6805 6.86927 11.6722 6.83087 11.6642C6.76151 11.6497 6.69162 11.6396 6.62067 11.633C6.58387 11.6297 6.5475 11.6257 6.5103 11.6246C6.49012 11.6239 6.47043 11.6199 6.45021 11.6199C6.36719 11.6199 6.28347 11.6256 6.19939 11.6368C6.18839 11.6373 6.1774 11.6385 6.1664 11.64C6.09713 11.6502 6.02911 11.6642 5.96259 11.6816C5.94046 11.6873 5.91948 11.6957 5.89775 11.7022C5.85403 11.7153 5.81 11.7279 5.76769 11.7441C5.7429 11.7536 5.71958 11.7657 5.69527 11.7762C5.6574 11.7926 5.61909 11.8081 5.58259 11.8269C5.55949 11.8388 5.53794 11.8531 5.51541 11.8659C5.48224 11.8848 5.44827 11.9025 5.41643 11.9234L5.33271 11.3896C5.31293 11.2781 5.281 11.1714 5.24308 11.0671C5.23843 11.0543 5.23692 11.0397 5.23195 11.027V10.4576ZM1.83794 11.9054C1.79466 11.628 1.86561 11.3513 2.03767 11.1261C2.21009 10.9004 2.46374 10.7531 2.75429 10.711L3.38116 10.6169C3.86505 10.5455 4.33937 10.7996 4.53414 11.2317C4.57139 11.3168 4.59906 11.41 4.61573 11.5017L4.79276 12.6348C4.77892 12.6637 4.77023 12.694 4.75799 12.7235C4.74345 12.7587 4.72864 12.7936 4.71648 12.8295C4.69839 12.8826 4.68478 12.9365 4.67205 12.9908C4.66402 13.025 4.65449 13.0587 4.64864 13.0933C4.63826 13.1542 4.63369 13.2157 4.63001 13.2774C4.62824 13.3063 4.62385 13.3348 4.62358 13.3638C4.62278 13.455 4.6281 13.5467 4.64198 13.6385L4.93284 15.5082H2.40095L1.83794 11.9054ZM24.8372 28.33H1.69604V24.7591H24.8372V28.33ZM20.6526 15.5082C20.6545 15.4862 20.6562 15.4636 20.6581 15.4417C20.6774 15.2159 20.6974 14.9961 20.7183 14.7845C20.7197 14.7699 20.7211 14.7541 20.7225 14.7395C20.7449 14.5148 20.7682 14.3001 20.7921 14.0929C20.794 14.0769 20.7959 14.062 20.7978 14.0461L24.6492 14.8787C24.5772 15.084 24.5016 15.2947 24.4232 15.5082H20.6526ZM21.5638 10.5095C21.9537 9.71264 22.5121 9.31319 23.2642 9.29173C23.4724 9.2847 23.68 9.30564 23.9145 9.35696C24.1319 9.40125 24.3363 9.47198 24.5282 9.57051C25.1838 9.89065 25.5166 10.4949 25.5212 11.3693L21.5638 10.5095ZM29.2182 3.71744L24.5981 8.82671C24.5718 8.81632 24.5443 8.80866 24.5177 8.79896C24.4895 8.78869 24.4613 8.77907 24.4327 8.76961C24.3141 8.73028 24.1936 8.6953 24.0698 8.67015C23.94 8.64155 23.8149 8.62318 23.6912 8.60939C23.664 8.60638 23.6364 8.60336 23.6094 8.60104C23.5819 8.59866 23.5537 8.59422 23.5264 8.59256L22.1903 4.06471L21.5986 2.06659C21.5521 1.90798 21.6298 1.73529 21.7685 1.68225C21.8334 1.65804 21.8856 1.67178 21.9175 1.68774C21.9697 1.71298 22.008 1.76121 22.0371 1.85683L24.1951 7.27216C24.2394 7.38357 24.3391 7.46545 24.4597 7.48983C24.5821 7.51437 24.7063 7.47747 24.7925 7.39249L28.9358 3.32417C28.9826 3.27199 29.0411 3.24246 29.1007 3.24126C29.1341 3.23834 29.1862 3.24933 29.2306 3.29447C29.3352 3.40348 29.3296 3.59316 29.2182 3.71744Z"
              fill="white" />
          </svg>
          My Products</button>
      </div>
    </div>
  </div>

</ion-content>
