@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.dot {
    margin:15px;
    margin-top: 0 !important;
    height: 60%;
    width: 75%;
    background-color: #fffcfa
    ;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }

  #map_canvas {
    width: 100%;
    height: 80vh;
  }
  .count{
      padding: 25px;
      text-align: center;
      color: #23d5ab;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif !important;
  }
  .views{
      margin-top:  -10px !important;
      text-align: center;
      color: #5C5C5C;
  }
  .offer-btn{
    margin:15px;
    margin-top: 0 !important;
    background-color: #23d5ab
    ;
    border:1px solid #fff;
  }
  .myproducts-btn{
    margin:15px;
    background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%) !important;
    border:1px solid #fff;
    border-radius: 5px;
  }
  ion-list{
    background-color: #ebf9f9 !important;
  }
  ion-item{
    background-color: #ebf9f9 !important;
  }
  .card{
    background-color: #fff;
    height:35px;
    text-align: center;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  .myproduct-div{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border:1px solid #fff;
    
  }
  ion-chip{
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 5.5);
  }
  ion-content {
    background-color:#F4F7FA !important;
    // background: linear-gradient(to bottom, #fff
    // 0%, #d1f2e7
    // 100%) !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }


  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}
