<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5">
        <!-- <h4 style="color: #fff;margin-top:25px">24hrs</h4> -->
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;">
        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-class" [fullscreen]="true">
  <div class="container">
    <div class="signin-div mt-2">
      <div class="row mt-2" style="padding: 10px;">
        <div class="col-12">
          <h5 class="name  ion-text-center" style="color:#676767;"><b>Add Your Product</b></h5>
          <p class="name mt-2 ion-text-left" style="color:hsl(0, 0%, 25%);">Category :</p>
        </div>

        <div class="col-12 ">
          <div class="select">
            <select (change)="popupModelOpen()" [(ngModel)]="Category" placeholder="category">
              <option value="" disabled selected>Select Your Category</option>
              <option *ngFor="let cat of categoryList" value="{{cat.category}}">{{cat.category}}</option>
              <option style="background-color: #23d5ab;" value="1">+ add new</option>
            </select>
          </div>
        </div>

        <div class="col-12 mt-2">
          <div class="select">
            <select (change)="subcategoryPopupModelOpen()" [(ngModel)]="subcategory">
              <option value="" disabled selected>Select Your Subcategory</option>
              <option *ngFor="let subcat of subcategoryList" value="{{subcat.subsubcategory}}">{{subcat.subsubcategory}}
              </option>
              <option style="background-color:#23d5ab;color:#fff;" value="2">+ add new</option>
            </select>
          </div>
        </div>

        <div class="col-6 mt-3">
          <p class="name" style="color:#404040;">Product Name :</p>
        </div>
        <div class="col-6 mt-2">
          <input [(ngModel)]="productname" type="text" placeholder="" id="offer">
        </div>

        <div class="col-6">
          <p class="name" style="color:#404040;">Cost:</p>
          <input [(ngModel)]="cost" type="text" placeholder="100" id="offer">
        </div>
        <div class="col-6">
          <div class="select mt-4" id="kg-dropdwon">
            <select>
              <option value="" disabled selected>Select</option>
              <option *ngFor="let item of unitList" value="{{item.unit}}">{{item.unit}}</option>
            </select>
          </div>
        </div>

        <div class="col-6 mt-3">
          <p class="name" style="color:#404040;">Product picture:</p>
        </div>
        <div class="col-6 mt-3">
          <svg style="margin:10px;cursor:pointer;" (click)="upload()" xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="#23d5ab" class="bi bi-upload" viewBox="0 0 16 16">
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path
              d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
          </svg>
        </div>
      </div>

      <div class="form-group ">
        <label style="color:#404040;" for="exampleFormControlTextarea1">Product Description :</label>
        <textarea maxlength="80" [(ngModel)]="description" style="background-color: #fff;" class="form-control"
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div style="width:100%; text-align: center;">
        <button (click)="addToProduct()" type="button" class="btn addproduct-btn mt-2">Add Product </button>
      </div>
    </div>
  </div>


</ion-content>

<div class="card" *ngIf="PopupModel" style="margin-top: 20px;" id="card">
  <div class="row" style="margin:10%" id="modal">
    <div class="col-12 ion-text-left " style="margin-top: 20px;">
      <svg (click)="backToprivious()" style="color: black;margin-top:-8px;cursor:pointer"
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#23d5ab" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
    <div class="col-12">
      <h5 class="name  ion-text-center" style="color:#676767;"><b>Type Your Category Name</b></h5>
    </div>
    <div class="col-12">
      <input [(ngModel)]="categoryName" type="text">
    </div>

    <div style="width:100%; text-align: center;">
      <button type="button" (click)="createCategory()" class="btn  submit-btn mt-2">Submit</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="subcategoryPopupModel" style="margin-top: 20px;" id="card">
  <div class="row" style="margin:10%" id="modal">
    <div class="col-12 ion-text-left " style="margin-top: 20px;">
      <svg (click)="ScBackToprivious()" style="color: black;margin-top:-8px;cursor:pointer"
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#23d5ab" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    </div>
    <div class="col-12">
      <h5 class="name  ion-text-center" style="color:#676767;"><b>Type Your Subcategory Name</b></h5>
    </div>
    <div class="col-12">
      <input [(ngModel)]="subcategoryName" type="text">
    </div>

    <div style="width:100%; text-align: center;">
      <button type="button" (click)="createSubcategory()" class="btn  submit-btn mt-2">Submit</button>
    </div>
  </div>
</div>