.list{
    color: #272A3F;
    font-size: 15px;
    margin: 18px -5px;
}
#icon{
    background-color: rgb(197, 248, 147) !important;
    border-radius: 15px !important;
    width:25px;
    height:30px
}
ion-item{
    --border-color: #fff;
    margin-bottom: 5px;
}
img:hover{
cursor: pointer;
}
ion-menu-button:hover{
    --color:#fff;
   
}
.close{
    margin-left: 30px;
    color:#676767;
}
.close:hover{
    color: #23d5ab;
}
.row{
    margin-bottom: 8px;
}

#sideMenuList .active{
    color: #23d5ab;
    font-weight: 700;
}
.dot {
    margin:35% !important;
    margin-bottom: 5px !important;
    text-align: center;
    margin-top: 0 !important;
    height: 95%;
    width: 80%;
    background-color: #fff;
    border-radius: 20%;
    display: inline-block;
    box-shadow: 3px -2px 11px 3px#ccc;
}
ion-content {
    background-color:#fff !important;
    // background: linear-gradient(to bottom, darkturquoise
    // 0%, #d1f2e7
    // 100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }
