<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="margin-top:15px;color:#fff" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <div class="row">
      <div class="col-5">
        <h5 style="color:#fff;margin-top:30px">24HRS</h5>
      </div>
      <div class="col-7" style="text-align: right;width: 90%;margin-top: -40px;" (click)="NavigatetoNotification()">
        <svg style="margin:5px;text-align:right" width="16" height="20" viewBox="0 0 16 20" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.0002 0C7.11654 0 6.4002 0.716344 6.4002 1.6V1.80156C3.63963 2.51189 1.5998 5.01775 1.5998 8.00003V13.6H2C0.895431 13.6 0 14.4955 0 15.6V15.8C0 16.3523 0.447715 16.8 1 16.8H15C15.5523 16.8 16 16.3523 16 15.8V15.6C16 14.4955 15.1046 13.6 14 13.6H14.3998V8.00003C14.3998 5.01803 12.3604 2.51237 9.60019 1.80176V1.6C9.60019 0.716344 8.88385 0 8.0002 0ZM5.5998 17.6C5.5998 18.9255 6.67432 20 7.9998 20C9.32529 20 10.3998 18.9255 10.3998 17.6H5.5998Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class" [fullscreen]="true" [ngStyle]="{'opacity':isvisible ? '0.52' : '1' }">
  <div class="container">
    <div class="signin-div mt-2">
      <div class="row mt-2" style="padding: 10px;">
        <h5 class="name  ion-text-left" style="color:#676767;"><b>
            <svg (click)="backToMyproducts()" style="margin-top:-8px;cursor:pointer;margin:5px;"
              xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="#29C17E" class="bi bi-arrow-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            Edit Your Product</b></h5>
        <div class="col-12  ion-text-center">
          <p>Product Image:</p>
          <img height="95px" width="95px" src="{{DisplayImage}}" alt="" (click)="showPopup()" *ngIf="hideImageDisplay">
          <img height="95px" width="95px" src="{{showimage.image}}" alt="" (click)="showPopup()"
            *ngIf="showImageDisplay">
        </div>

        <div class="col-12">
          <p class="name mt-2 ion-text-left" style="color:hsl(0, 0%, 25%);">Category :{{SelectedCategory}}</p>
        </div>
     
        <div class="col-12 mt-2">
          <div class="select">
            <select  [(ngModel)]="Category">
              <option value="{{Category}}" disabled selected>{{Category}}</option>
              <option *ngFor="let cat of categoryList; let i = index" value="{{cat.category}}">
                {{cat.category}}
              </option>
            </select>
          </div>
        </div>



        <div class="col-12 mt-2">
          <div class="select">
            <select  [(ngModel)]="subcategory">
              <option value="{{showSubCategory}}" disabled selected>{{showSubCategory}}</option>
              <option *ngFor="let subcat of subcategoryList; let i = index" value="{{subcat.subsubcategory}}">
                {{subcat.subsubcategory}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-6 mt-3">
          <p class="name" style="color:#404040;">Product Name :</p>
        </div>
        <div class="col-6 mt-2">
          <input [(ngModel)]="productname" type="text" id="offer">
        </div>

        <div class="col-6">
          <p class="name" style="color:#404040;">Cost:</p>
          <input [(ngModel)]="cost" type="text" placeholder="Rs." id="offer">
        </div>
        <div class="col-6">
          <div class="select mt-4" id="kg-dropdwon">
            <select [(ngModel)]="readunitvalue">
              <option value="{{items.unit}}" *ngFor="let items of readunit">{{items.unit}} </option>

            </select>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <label style="color:#404040;" for="exampleFormControlTextarea1">Product Description :</label>
        <textarea [(ngModel)]="description" style="background-color: #fff;" class="form-control"
          id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="row">
        <div class="col-6 ion-text-center">
          <button (click)="deleteProduct()" class="btn btn-sm delete-btn mt-2">Delete</button>
        </div>
        <div class="col-6 ion-text-center">
          <button class="btn btn-sm update-btn" (click)="showselecteditems()">Update</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<div *ngIf="isvisible" class="container">
  <div class="card pop-up-card ion-text-center">
    <div class="row ion-text-center">
      <ion-icon name="chevron-back-outline" style="font-size: larger; position: absolute; right: 120px; top: 10px;"
        class="ion-text-left" (click)="hidepopup()"></ion-icon>
      <p class="mt-1">Select Any One Item</p>
      <div *ngFor="let items of showProducts; let i = index" class="mt-1 mb-2">
        <img src="{{items.image}}" height="90px" width="90px" class="m-1" style="border-radius: 5px;"
          (click)=displayImage(i)>
      </div>
    </div>
  </div>
</div>