input[type=text] {
  font-size       : 15px;
  margin          : 0 5px;
  width           : 90%;
  box-sizing      : border-box;
  border-radius   : 5px;
  background-color: #fff;
  border          : 2px solid #ccc;
}

input:focus {
  outline   : none !important;
  border    : 1px solid #FF6000 !important;
  box-shadow: 0 0 2px #8b8d91;
}

.card {
  background-color  : #fff;
  border            : 1px solid #fff;
  border-radius     : 8px;
  width             : 96% !important;
  margin            : 5px;
  -moz-box-shadow   : 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow        : 2px 2px 2px 2px #ccc !important;
  border            : 1px solid #fff;
}

.delete-btn {
  background-color: #f7391b !important;
  color           : #fff;
  text-align      : center;
}

.update-btn {
  background-color: #29C17E;
  color           : #fff;
  text-align      : center;
}

.btn {
  margin: 10px 0 !important;
}

ion-content {
  background-color: #F4F7FA !important;
  // background: linear-gradient(to bottom, darkturquoise
  // 0%, #d1f2e7
  // 100%) !important;

  --offset-bottom: auto !important;
  --overflow     : hidden;
  overflow       : auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pop-up-card {
  box-shadow   : none !important;
  position     : absolute;
  top          : 10%;
  z-index      : 1;
  right        : 3px;
  border-radius: 10px;
}