.cover {
	background: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fade-out 4s /*infinite*/;
}

.cover #icon {
	// --size: 100px;
	position: absolute;
	top: 35%;
	left: 50%;
  width: 100px;
  height:100px;
	transform: translate(-50%,-50%);
	// width: var(--size);
	border-radius: 50%;
	animation: zoom-in 2s /*infinite*/;
	animation-delay: 2s;
}

@keyframes zoom-in {
	50% {
		width: var(--size);
	}
	60% {
		width: calc(var(--size) * 0.9);
	}
	100% {
		width: 250%;
	}
}
@keyframes fade-out {
	0%, 85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.content {
	width: 100%;
}
