.myproduct-div{
  position: absolute;
  background-color: #fff;
  border:1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #ebe6e6;
  width:96% !important;
  margin:5px;
  
}
input[type=text] {
  font-size: 11px;
  margin: 0 5px;
  margin-top: -12px;
  margin-left: -20px;
  width: 90%;
  box-sizing: border-box;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #23d5ab;;
}
input:focus {
  outline: none !important;
  border:1px solid #23d5ab !important;
  box-shadow: 0 0 2px #23d5ab;
}
.update-btn{
  border-radius: 5px !important;
  background: linear-gradient(to left, #23a6d5
  0%, #23d5ab
  100%) !important;
  color:#fff;
  height:25px;
  width:55%;
  text-align: center;
  border:1px solid #fff;
  font-size: 12px !important;
  padding: 3px;
  margin:10px !important;
  margin-left: 35px !important ;
}
.skip-btn{
border-radius: 5px !important;
background-color: #fff;
color:#23d5ab;
height:25px;
width:25%;
text-align: center;
border:1px solid #fff;
font-size: 13px !important;
padding: 3px;
margin:10px !important;
}
lottie-player{
  cursor: pointer;
}

select{
border: 1px solid #fff;

}
ion-content {
--background:#F4F7FA  !important;
overflow: auto;
&::-webkit-scrollbar {
    display: none;
}
}


/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
     #map {
      height: 100%;
    }
    
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    .controls {
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      height: 29px;
      margin-left: 17px;
      margin-top: 10px;
      outline: none;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }
    
    .controls:focus {
      border-color: #4d90fe;
    }
    
    .title {
      font-weight: bold;
    }
    
    #infowindow-content {
      display: none;
    }
    
    #map #infowindow-content {
      display: inline;
    }