#card{
    background-color: transparent !important;
    border-radius: 0px !important;
    border:1px solid #fff;
}
.items{
    align-items: center !important;
    margin:5px !important;
}
.gallary-btn, .upload-btn{
    font-size: smaller;
    margin: 6px;
   
    background-color:darkturquoise;
    border:1px solid darkturquoise;
    
}
#close{
    color:red;
    cursor: pointer;
}
#close:hover{
    color: rgb(126, 2, 2);
}
lottie-player{
    cursor: pointer;
}

ion-content {
    background-color:#fff
    !important;
    // background: linear-gradient(to bottom, #8cdbe2
    // 0%, #d1f2e7
    // 100%) !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }