/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Marcellus+SC&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Marcellus+SC&family=Roboto:wght@400;700&display=swap');
*{
  font-family: 'Cinzel', serif;
  font-family: 'Marcellus SC', serif;
  font-family: 'Roboto', sans-serif;   
}

.title{
    margin-top:80px;
}
.welcome{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #565455
    ;
    text-shadow: 0px 0px 0px #000000;
}
.seller{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 25px;
    color: #23d5ab;
    text-shadow: 2px 2px 4px #ccc;
    
}
.icon{
    margin:10px;
    background-color: #fff;
    border:1px solid #fff;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    border-radius: 10px;
}
// .bg-class{
//     --background: linear-gradient(to bottom, #8cdbe2
//     0%, #d1f2e7
//     100%) !important;

//   }
  // .bgcolor-class{
  //   --background: linear-gradient(to bottom, #FEC401 0%, #FEC401 100%) !important;

  // }
  .signin-div{
    background-color: #fff;
    border:1px solid #cccbc8;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ebe6e6;
    margin-bottom:4px ;
    
    
  }
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  #card{
    position:absolute;
    top:25%;
    background-color: #fff;
    border:1px solid #ebe6e6;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    
  }
  .signin{
      color:#23d5ab
      ;
      font-size: 15px;
      margin-top:8px !important;
      
  }
  .signup{
      margin-top:8px !important;
      color:#6E7989 ;
      text-align: right;
      font-size: 15px;
      
  }
  .signin-seller{
    margin:10px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: #272A3F;
  }
  .emailTo-continue{
      font-size:14px;
      color:#6E7989;
      margin:10px;
  }



.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .form-control::placeholder {
    font-size:12px;
    color:#6E7989;
    margin:10px;
  }
  .form-group{
      margin:10px;
  }
  .forgot-pw{
     color: #6E7989;
     font-size: 14px;
     margin:10px;
  }
  .signin-btn{
      background-color: #23d5ab;
      margin-left:18px;
      border:1px solid #fff;
      
  }
  .new-background-color{
    --background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%);
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 1px solid #cccbc8 ;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #5C5C5C;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  width: 70%;
  border-radius: 5px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
  
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 90%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  margin-left: 0%;

}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: transparent;
  color:#23d5ab
  ;
  transition: .5s all ease;
  pointer-events: none;
  border-radius: 2px;
}
/* Transition */
.select:hover::after {
  color: #121212;
}

select:focus > option:checked { 
  cursor: pointer;
  background-color: #fff;
}

option:hover {
  cursor: pointer;
}

.item-has-focus{
  --highlight-background: #23d5ab;
}
.ion-label{
  --highlight-background: #23d5ab !important;
}

.cost{
    width:55px;
    border-radius: 5px;
    margin:15px;
    text-align: center;
}
.addproduct-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    --background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%) !important;
    border:1px solid #fff;
    margin:5px;
    color: #fff;
}
#upload{
    cursor: pointer;
}
input[type=text] {
    margin: 0 5px;
    margin-top: -12px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #23d5ab
    ;
  }

  

  #kg-dropdwon {
    position: relative;
    display: flex;
    width: 90%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-left: 2%;
  
  }
  .select {
    position: relative;
    display: flex;
    width: 97%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
   
  
  }

  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  
  .submit-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background: linear-gradient(to left, #23a6d5
    0%, #23d5ab
    100%) !important;
    border:1px solid #fff;
    color:#fff !important;
    margin:5px;
  }
  
  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 2;
    cursor: pointer;
  }
  #card{
  position:absolute;
  height:2500px !important;
  width:1500px !important;
  margin-left: -10px;
  background-color: rgba(0,0,0,0.4);
  border:1px solid #ebe6e6;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-top: -185px !important;
  z-index: 2;

  }
  #modal{
    position:fixed;
    top:35%;
    margin:5%;
    background-color: #fff;
    border:1px solid #ebe6e6;
    border-radius: 5px;
    // box-shadow: 2px 2px 2px 2px #ccc;
    width:85% !important;
    animation-name: example;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
    
  }
  @keyframes example {
    from {top: 0px;}
    to {top: 200px; background-color: #fff;}
  }
 
  textarea:focus{
    border-color: #23d5ab !important;
  }

  .card{
    border:1px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 4px #ccc;
    margin-bottom: 20px;
    margin-right:4px;
    cursor: pointer;
  }