.myproduct-div{
  background-color: #F4F7FA;
  border:1px solid #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #ccc;
  width:96% !important;
  margin:5px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  border:1px solid #fff;
  
}

img{
  margin-left: 10px !important;
  height:80px;
  width: 95px;
}
.card{
  background-color: #fff;
  border:1px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  width:100% !important;
  margin-bottom:13px !important;
}
span{
    font-size: smaller;
}
.price{
    margin-top: -2px !important;
    text-align: center;
}
.product-name{
  margin-top: 1px !important;
  margin-left: 5% !important;
}
#cross{
    cursor: pointer;
    margin-top:20px;
}
#cross:hover{
    color:red;
}
// .exit-btn{
//   width: 70%;
//   border-radius: 10px;
//   // margin: 10px;
//   background-color: #23d5ab;
//   border:1px solid #fff;
//   color: #fff;
// }
.addproduct-btn{
  border-radius: 5px !important;
  background: linear-gradient(to left, #23a6d5
  0%, #23d5ab
  100%) !important;
  border:1px solid #fff;
 
  color: #fff;
}
ion-content {
  background-color:#F4F7FA !important;
  // background: linear-gradient(to bottom, #8cdbe2
  // 0%, #d1f2e7
  // 100%) !important;

  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}



